.button-create {
    width: 120px;
    height: 36px;

    border: 1px solid #2F80ED;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    /* font */
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FDFDFD;
}

.button-reset{
    width: 120px;
    height: 36px;
    background: #FDFDFD;

    border: 1px solid #E0DFE0;
    /* Soft Shadow */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral/500 */

    color: #344054;
}

.button-delete {
    width: 120px;
    height: 36px;

    border: 1px solid #CB605A;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    /* font */
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FDFDFD;
}

.button-reject{
    width: 120px;
    height: 36px;

    background: #FFF3F2;
    border: 1px solid #FFF3F2;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #B42318;
}

.button-approve{
    width: 120px;
    height: 36px;
    
    background: #ECFDF3;
    /* Soft Shadow */
    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: none;
    /* Text/sm/Semibold */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #027A48;
}

.button-login{
    background: #56C171;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}


/* color */
.blue{
    background: #2F80ED;
}

.navy{
    background: #344054;
}

.red{
    background: #CB605A;
}